.about {
    background: #FDF0DF;
    height: 70vh;
    padding-top: 9%;
}
.aboutBox {
    display: flex;
    justify-content: space-between;

    p {
        margin-top: 5%;
        font-size: 1.8rem;
        line-height: 30px;
    }
}

.aboutImage { 
    width: 25%;
}
.whatBox,
.whoBox {
    width: calc(75% / 2);
    padding-top: 1%;
}

.whatBox {
    margin: 0 3%;
}

.aboutImage img {
    border-radius: 50%;
}

h3 {
    font-family: $mainFont;
    font-size: 5rem;
}

h4 {
    font-family: $mainFont;
    font-size: 2.8rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: #DED2C2;
}

@media (max-width: 1250px) {
    .about h3 {
        font-size: 4.5rem;
    }

    .about h4 {
        font-size: 2.6rem;
    }
    .about p {
        font-size: 1.6rem;
    }
}

@media (max-width: 980px) {
    .about p {
        line-height: 27px;
    }
}

@media (max-width: 840px) {
    .aboutBox {
        flex-direction: column;
        align-items: center;

        h3 {
            font-size: 3.8rem;
        }
    }

    .whatBox {
        width: 100%;
    }

    .whoBox {
        width: 100%;
    }

    .aboutImage {
        width: 50%;
    }

    .about {
        height: 115vh;
        padding-top: 11%;
    }

    .about p {
        margin-top: 1.5%;
    }
}

@media (max-width: 770px) {
    .about {
        height: 110vh;
    }
}
