.contactTitle {
    position: relative;
    z-index: 10;
    background: #FDF0DF;
    // height: 20vh;
    &:before,
    &:after{
    background: inherit;
    content: '';
    display: block;
    height: 90%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -10;
    bottom: 0px;
    transform: skewY(-3.0deg);
    transform-origin: 100%;
  }

   &:before {
    bottom: 80px;
    transform: skewY(-3.0deg);
    height: 120%;
    transform-origin: 100% 0;
  }
}

.contact {
    margin-top: 8%;
}

.contactTitle h2 {
    font-size: 5rem;
}

.contactTitle h3 {
    font-size: 2.7rem;
    color: #DED2C2;
    font-weight: 300;
    letter-spacing: 1px;
}

.contact textarea {
    width: 400px;
}

.contactInfo {
    width: 100%;
}

.contactInfo input {
    width: 100%;
    background: #262626;
    color: $textColor;
    border: none;
    border-bottom: 2px solid $accentColor;
    height: 70px;
}

form {
    width: 100%;
}

.contactForm {
    background: #262626;
    height: 60vh;
    padding-top: 6%;
    
    textarea {
        border: 2px solid $accentColor;
        background: #262626;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-top: 2%;
        padding-left: 1%;
        color: $textColor;
        font-size: 4rem;
        width: 100%;
    }

    h3 {
        color: $textColor;
        font-size: 3.5rem;
    }
}

.contactForm {
    position: relative;
    // height: 20vh;
    &:after{
    background: inherit;
    content: '';
    display: block;
    height: 25%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -10;
    bottom: 0px;
    transform: skewY(-3.0deg);
    transform-origin: 100%;
  }
}

::placeholder {
    font-size: 2rem;
    color: grey;
}

.formFlexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}
.contactText {
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 40%;
}

.contactForm p {
    color: $textColor;
    font-size: 2rem;
    line-height: 1.6;

    a {
        color:#ff5a3a;
    }
}

.contactFormBox {
    margin: 0 auto;
}

.formFlexBoxBox {
    display: flex;
    align-items: space-between;
}

.iconList {
    margin-top: 4%;
}

.iconList i {
    color: grey;
    font-size: 4rem;
    margin: 0 5px;
    
}

.iconList i:hover {
    color: #B92D12;
    transition-delay:0.05s;
}

