.footer {
    background: #353535;
    padding-top: 5%;
    z-index: -105;
    position: relative;
    width: 100%;
}

.footer p {
    font-family: $secondaryFont;
    color: $textColor;
    font-size: 1.7rem;
    padding-bottom: 5px;
}

.footerBox {
    display: flex;
    justify-content: flex-end;
}

.iconList {
    display: flex;
}
