nav {
    background: white;
    position: relative;
    z-index: 10;
    height: 8vh;
  
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 200%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -10;
    bottom: 0;
    transform: skewY(-3.0deg);
    transform-origin: 100%;
  }
}

#navBar {
    transition: top 0.5s;
}

header {
   background-image: linear-gradient(to right bottom, #eb8f8f, #e38383, #db7777, #d26b6b, #ca5f5f, #c35554, #bc4a49, #b5403e, #ae3532, #a62925, #9e1c18, #960a0a);
}


.nav {
    display: flex;
    justify-content: space-between;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    font-family: $secondaryFont;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0;
    flex-basis: 40%;
        
    li {
        padding-top: 5%;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

// HAMBURGER //

.menuToggle {
  position: absolute;
  padding: 0.8em;
  top: 1em;
  right: .1em;
  cursor: pointer;
}

#navList.opening {
  display: block;
  height: 30px;
}

.hamburger, .hamburger::before, .hamburger::after {
  content: '';
  display: block;
  background: $accentColor;
  height: 3px;
  width: 2em;
  border-radius: 3px;
  margin-left: 10%;
  -webkit-transition: all ease-in-out 350ms;
  transition: all ease-in-out 350ms;
}

.hamburger::before {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

.hamburger::after {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

.open .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.open .hamburger::before { display: none; }

.open .hamburger::after {
  -webkit-transform: translateY(-1px) rotate(-90deg);
  transform: translateY(-1px) rotate(-90deg);
}


h1 {
    font-size: 8.5rem;
    font-weight: 400;
    color: $textColor;
    letter-spacing: 1px;
    line-height: 85px;
    text-transform: uppercase;
    width: 80%;

}

.headerText h2 {
    font-size: 4.5rem;
    font-family: $secondaryFont;
    color: #262626;
}

.headerImage {
    background-image: url("assets/headerImage.v3.cropped.jpg");
    background-size: cover;
    min-width: 40%;
    margin-top: 5%;
    -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
    filter: grayscale(60%); 
}

.headerText {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headerBox {
    display: flex;
    height: 90vh;
}

.quote{
    position: relative;
    z-index: 10;
    color: $textColor;
    background: #262626;
    height: 5vh;
    
    &:before,
    &:after{
    background: inherit;
    content: '';
    display: block;
    height: 300%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -10;
    bottom: 0;
    transform: skewY(-3.0deg);
    transform-origin: 100%;
  }

    &:before {
    top: 0;
    transform: skewY(-3.0deg);
    height: 120%;
    transform-origin: 100% 0;
  }
}

.quote {
    font-family: $secondaryFont;
    height: 8vh;
}

.quoteText {
    font-size: 2.3rem; 
}

.quoteAuthor {
    font-size: 1.7rem;

    span {
        color: #B92D12;
        font-size: 2.5rem;
    }
}

.sticky {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logoList {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
}

.logo {
    padding-top: 1%;
}
.logo p{
    font-family: $mainFont;
    font-size: 2.5rem;
}

.logo ul li {
    font-size: 1.3rem;
    padding: 0;
    text-transform: initial;
    padding-top: 2%;
}

.emoji {
    max-width: 20px;
    max-height: 25px;
    display: flex;
}

.emoji img {
    margin-right: 20%;
}


.link {
  position: relative;
  cursor: pointer;
  height: 60px;
  padding: 1%;
}

.link:before, 
.link:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  top: 57%;
  margin-top: -0.5px;
  background: #B92D12;
}

.link:before {
  left: -2.5px;
}
.link:after {
  right: 2.5px;
  background: #B92D12;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.link:hover:before {
  background: #B92D12;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.link:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

@media (max-width: 1305px) {
        .link:before, 
        .link:after {
            top: 50%;
    }

    .headerImage {
        min-width: 45%;
    }

    .headerText h1 {
        font-size: 8rem;
    }
}

@media (max-width: 1250px) {
    .headerText h1 {
        font-size: 7rem;
        line-height: 75px;
    }

    .headerText h2 {
        font-size: 4rem;
        padding-left: 20%;
    }
}

@media (max-width: 1135px) {
    .quoteText {
        font-size: 2rem;
    }

    .headerText {
        width: 90%;
    }

    .headerText h1{
        font-size: 6rem;
        line-height: 65px;
    }

    .headerText h2 {
        font-size: 3.5rem;
    }

    .link:before, 
        .link:after {
            top: 47%;
    }

     .headerImage {
        background-position-x: 30%;
    }
}

@media (max-width: 1000px) {
    .headerImage {
        background-position-x: 40%;
    }

    .headerText h1 {
        font-size: 5rem;
        line-height: 55px;
    }

    .headerText h2 {
        font-size: 3rem;
    }

    .quote {

        p {
            font-size: 1.7rem;
        }
        &:after {
            height: 240%;
        }
    }

    .logo ul li {
        font-size: 1.1rem;
    }

    .logo span {
        padding-top: 20%;
    }
}

@media (max-width: 780px) {
    .quote p {
        font-size: 1.5rem;
    }

    .headerText h1 {
        font-size: 4.5rem;
    }

    .headerText h2 {
        font-size: 2.5rem;
    }

    .quoteAuthor {
        line-height: 15px;
    }
    #navList {
        display: none;
    }

    .nav ul li {
        padding: 0;
    }

    .navList {
        margin-right: 5%;
    }

    .navList a {
        color: black;
        // background: rgba(185,45,18, 0.8);
        background: #fff;
        display: block;
        padding: 1.5em 4em 1.5em 3em;
        text-transform: uppercase;
        text-decoration: none;
}
    .navList a:hover,
    .navList a:focus { 
        // background: rgba(253,240,223, 0.8);
        background: $accentColor; 
}
    .link:before, 
    .link:after {
        content: none;
}

}

@media (min-width: 781px) {

.menuToggle { 
    display: none; 
}

}
 


@media (max-height: 760px) {
    .logo {
        display: flex;
        flex-direction: row;
        flex-basis: 50%;
    }

    .logo ul {
        margin-left: 3%;
        padding-top: 1%;
    }
}

@media (max-width: 673px) {
    .quote {
       
        &:before {
            height: 140%;
        }
    }

    .headerText h1 {
        line-height: 45px;
    }

}

@media (max-width: 570px) {
    .headerText h2 {
        padding-left: 5%;
    }

    .headerImage {
        background-position-x: 45%;
    }

}

@media (max-width:500px) {
    .quote {
        height: 8vh;

        &:before {
        top: 30px;
        }
    }
}

@media (max-width: 450px) {
    .headerText h1 {
        width: 90%;
        font-size: 3.5rem;
        line-height: 30px;
    }

    .headerText h2 {
        font-size: 2rem;
    }

    .quote {
        height: 6vh;
    }
}

@media (max-width: 400px) {
    .logoList {
        font-size: 1rem;
    }
}
