.skills{
    position: relative;
    z-index: 10;
    background: #969494;
    height: 60vh;
    &:before,
    &:after{
    background: inherit;
    content: '';
    display: block;
    height: 125%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -10;
    bottom: 0px;
    transform: skewY(-3.0deg);
    transform-origin: 100%;
  }

   &:before {
    top: 0;
    transform: skewY(-3.0deg);
    height: 110%;
    transform-origin: 100% 0;
  }
}

.skills h2 {
    font-size: 5rem;
    margin: 1% 0;
}

.skills h3 {
    font-size: 3rem;
    font-weight: 300;
    font-family: $mainFont;
    color: #d4d2d0;
    margin-bottom: 3%;
}

.skillsBox {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    flex-basis: 80%;

    li {
        font-family: $secondaryFont;
        font-size: 2.5rem;
        text-align: center;
    }
}

.skillsBox i {
    font-size: 12rem;
}

.responseIcon {
    position: relative;
}
.responseIcon p {
    position: absolute;
    bottom: 0;
}

.skillRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2% 0;
}

.iconBox {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 120px;
}

// .skills p {
//     opacity: 0;
// }
@media (max-width: 1020px) {
    .skillsBox i {
        font-size: 10rem;
        width: initial;
    }

    .iconBox {
        width: 100px;

        p {
            font-size: 2rem;
        }
    }
}

@media (max-width: 800px) {
    .skillsBox {
            flex-basis: 90%;
            width: 90%;
            i {
            font-size: 8rem;
        }

    }

    .iconBox {
        width: 80px;
    }

    .skilRow {
        width: 50%;
    }

    .skills {
        height: 50vh;

        h2 {
            font-size: 4rem;
        }
    }
    
}

@media (max-width: 660px) {
    .skillsBox i {
        font-size: 6rem;
    }

    .iconBox {
        width: 60px;

        p {
            font-size: 1.5rem;
        }
    }
}
